body{
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    color:#84BD91;
    background-color:#84BD91;
}
img{
    height:auto;
    width:100%;
    display:flex;
}
footer{
    font-family: "Times New Roman", Times, serif;
    background-color:rgb(9, 9, 92);
    height:100px;
    color:#84BD91;
    text-align: center;
    margin-bottom:0; 
    
}
.fit{
    background: transparent no-repeat center;
    background-size: cover;
    left: auto;
    right: auto;
  }
.card{
    height:300px;
    width:auto;
    background-color:rgb(9, 9, 92)
}
.navbar{
    background-color:rgb(9, 9, 92);
    color:#84BD91;

}
h3,h1,h2,h4{
    margin-top:100px;
    margin-bottom: 100px;
    text-align: center;
}
#big-frog{
    height:30px;
}
#frog-phone{
    height:500px;
    width:500px;
    margin-left:0px;
    margin-top:100px;
    margin-bottom:100px;
}
